html,
body,
main,
#__next {
  padding: 0;
  margin: 0;
  font-family: "Cinzel";
  width: 100%;
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cinzel!important";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
